doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/nav.css")
        block styles
    body
        div.topnar-section
            a(href='/', class=(path==='/' ? 'active': '')) Home
            a(href='/user', class=(path==='/user/profile' ? 'active': '')) User
            a(href='/not-found') 404
        
    block content
        
       