extends layouts/view-layout.pug

block styles
    link(rel="stylesheet", href="/css/home.css")

block content 
    div.home-section
        .banner-image
            img(src="https://via.placeholder.com/400x100", alt="user-image")
        .content
            h2.page-header DEVELOPER ZONE
            p.sub-header Build The World
            div.des-content
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis hic consequuntur, quo sit nulla ex voluptatibus necessitatibus harum nesciunt nihil ea. Suscipit quasi vel reprehenderit quos? Vel impedit aperiam quaerat atque cum assumenda praesentium esse. Voluptatibus facilis atque, perspiciatis corporis modi consequatur molestiae voluptas minus, necessitatibus laborum, rem ea. Nihil.
