body {
    margin: 0;
    font-family: cursive;
}

.topnar-section {
    overflow: hidden;
    background-color: #333;
}

.topnar-section a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnar-section a:hover {
    background-color: #ddd;
    color: black;
}

.topnar-section a.active {
    background-color: #008CBA;
    color: white;
}